[Unit]
Description=RangeOS AI Virtualization and Networking Foundation
Requires=libvirtd.service network-manager.service
After=network-manager.service
AllowIsolate=yes

[Install]
WantedBy=multi-user.target
